    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Cagtegories <small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form class="form-horizontal form-label-left input_mask">
                    <div class="row">
                        <div ui-grid-pagination ui-grid="gridOptions" class="myGrid"></div>
                    </div>
                    
                    <div class="ln_solid"></div>
                    
                </form>
            </div>
        </div>
    </div>
