
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Add / Edit User <small></small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            <form class="form-horizontal form-label-left input_mask">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="firstName" placeholder="First Name" ng-model="user.fName" required="required">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="LastName" placeholder="Last Name"  ng-model="user.lName" required="required">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="userName" placeholder="User Name" value="">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="emailId" placeholder="Email" ng-model="user.email" required="required">
                        <span class=" fa fa-at form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="password" class="form-control has-feedback-left" id="inputSuccess5" placeholder="Password" ng-model="user.password" required="required">
                        <span class=" fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="password" class="form-control has-feedback-left" id="inputSuccess5" placeholder="Confirmation Password"  ng-model="user.password" required="required">
                        <span class=" fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group">
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button type="button" class="btn btn-primary">Cancel</button>
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="submit" class="btn btn-success" ng-click="UpdateUser(user)">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>






</div>
<!--<div>

    <h1>Add / Edit User</h1>
    <br />

    First Name *  : <input value="{{user.UserName}}">

    Last Name * : <input value="{{user.UserName}}">

    Email * : <input value="{{user.UserName}}">

    User Name * : <input value="{{user.UserName}}">

    Password * : <input value="{{user.UserName}}">

    Confirm Password * : <input value="{{user.UserName}}">

    Status
</div>-->
