<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Yes Med </title>

    <!-- Bootstrap -->
    @*<link href="~/Areas/Admin/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">*@

    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Areas/Admin/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    @*<link href="~/Areas/Admin/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">*@

    <!-- bootstrap-progressbar -->
    @*<link href="~/Areas/Admin/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">*@
    <!-- JQVMap -->
    @*<link href="~/Areas/Admin/Content/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />*@
    <!-- bootstrap-daterangepicker -->
    @*<link href="~/Areas/Admin/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">*@

    <!-- Custom Theme Style -->
    <link href="~/Areas/Admin/Content/build/css/custom.min.css" rel="stylesheet">

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")

    <!-- AngularJs -->
    @*@Scripts.Render("~/bundles/libraries")*@

    <script src="~/Assets/scripts/libraries/angular.js"></script>


    <!-- UI Grid -->
    <script src="~/Assets/scripts/libraries/ui-grid.js"></script>
    <link href="~/Content/ui-grid.css" rel="stylesheet" />

    <script src="~/Assets/scripts/libraries/angular-route.js"></script>

    @*<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
        <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
        <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
        <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>*@

</head>

<body class="nav-md" ng-app="YesMed">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Yes Med!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Areas/Admin/Content/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2></h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Users <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#/user" ng-click="changeState()">View Users</a></li>
                                        <li><a href="#/addUser">New User</a></li>
                                    </ul>
                                </li>
                                @*<li>
                                        <a><i class="fa fa-edit"></i> Class <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#/class">View Classes</a></li>
                                            <li><a href="#/addClass">Add Classe</a></li>
                                        </ul>
                                    </li>*@
                                <li>
                                    <a><i class="fa fa-edit"></i> Category <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#/category">View Categories</a></li>
                                        <li><a href="#/addCategory">Add Category</a></li>
                                    </ul>
                                </li>
                                @*<li>
                                        <a><i class="fa fa-edit"></i> Type <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#/type">View Types</a></li>
                                            <li><a href="#/addType">Add Type</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-edit"></i> Company <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#/companies">View Companies</a></li>
                                            <li><a href="#/addCompony">Add Company</a></li>
                                        </ul>
                                    </li>*@
                                <li>
                                    <a><i class="fa fa-edit"></i> Product <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#/products">View Products</a></li>
                                        <li><a href="#/addProducts">Add Prodcut</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i> Product Category <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        <li><a href="general_elements.html">General Elements</a></li>
                                        <li><a href="media_gallery.html">Media Gallery</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Areas/Admin/Content/images/img.jpg" alt="">Venkatesh Pydi
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Areas/Admin/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Areas/Admin/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Areas/Admin/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Areas/Admin/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                <!-- /top tiles -->

                <div class="row">
                    <div ng-view=""></div>
                </div>
                <br />
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>




    <!-- Start : Application spefic angular files  -->
    <script src="~/Areas/Admin/Application/app.js"></script>

    <!-- User Module-->
    <script src="~/Areas/Admin/Application/User/userCtrl.js"></script>
    <script src="~/Areas/Admin/Application/User/addUserCtrl.js"></script>

    <!-- Category Module-->
    <script src="~/Areas/Admin/Application/Category/categoryService.js"></script>
    <script src="~/Areas/Admin/Application/Category/categoryCtrl.js"></script>
    <script src="~/Areas/Admin/Application/Category/addCategoryCtrl.js"></script>

    <!-- Category Module-->
    <script src="~/Areas/Admin/Application/Products/productsCtrl.js"></script>
    <script src="~/Areas/Admin/Application/Products/addProductsCtrl.js"></script>

    <!-- Bootstrap -->
    <script src="~/Areas/Admin/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- FastClick -->
    @*<script src="~/Areas/Admin/Content/vendors/fastclick/lib/fastclick.js"></script>*@

    <!-- NProgress -->
    @*<script src="~/Areas/Admin/Content/vendors/nprogress/nprogress.js"></script>*@

    <!-- Chart.js -->
    @*<script src="~/Areas/Admin/Content/vendors/Chart.js/dist/Chart.min.js"></script>*@

    <!-- gauge.js -->
    @*<script src="~/Areas/Admin/Content/vendors/gauge.js/dist/gauge.min.js"></script>*@

    <!-- bootstrap-progressbar -->
    @*<script src="~/Areas/Admin/Content/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>*@

    <!-- iCheck -->
    @*<script src="~/Areas/Admin/Content/vendors/iCheck/icheck.min.js"></script>*@

    <!-- Skycons -->
    @*<script src="~/Areas/Admin/Content/vendors/skycons/skycons.js"></script>*@

    <!-- Flot -->
    @*<script src="~/Areas/Admin/Content/vendors/Flot/jquery.flot.js"></script>
        <script src="~/Areas/Admin/Content/vendors/Flot/jquery.flot.pie.js"></script>
        <script src="~/Areas/Admin/Content/vendors/Flot/jquery.flot.time.js"></script>
        <script src="~/Areas/Admin/Content/vendors/Flot/jquery.flot.stack.js"></script>
        <script src="~/Areas/Admin/Content/vendors/Flot/jquery.flot.resize.js"></script*@>

    <!-- Flot plugins -->
    @*<script src="~/Areas/Admin/Content/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="~/Areas/Admin/Content/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="~/Areas/Admin/Content/vendors/flot.curvedlines/curvedLines.js"></script>*@
    <!-- DateJS -->
    <script src="~/Areas/Admin/Content/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    @*<script src="~/Areas/Admin/Content/vendors/jqvmap/dist/jquery.vmap.js"></script>
        <script src="~/Areas/Admin/Content/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="~/Areas/Admin/Content/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>*@
    <!-- bootstrap-daterangepicker -->
    @*<script src="~/Areas/Admin/Content/vendors/moment/min/moment.min.js"></script>
        <script src="~/Areas/Admin/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>*@
    <!-- Custom Theme Scripts -->
    <script src="~/Areas/Admin/Content/build/js/custom.min.js"></script>


</body>
</html>

