<div ng-controller="loginCtrl">
    <div class="modal modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog row yesmed-margin-top ">
            <form class="form-horizontal main-login main-center" method="post" action="#">
                    <div class="form-group">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name" ng-model="name" placeholder="Enter your Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Email/Mobile No</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username" id="username" ng-model="userName" placeholder="Enter your Email/Mobile No " />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password" ng-model="password" placeholder="Enter your Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="confirmPassword" placeholder="Confirm your Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-lg register-button" style="width:100%" ng-click="register(name, userName, password, confirmPassword)">Register</button>
                    </div>
                    <!--<div class="form-group">
                        <a ui-sref="login"><b>Existing User? Login</b></a>
                    </div>-->
            </form>
        </div>
    </div>
</div>