<p class="text-info">
    <h4><b>Shopping Cart ({{cart.getTotalCount() + " items"}})</b></h4>
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <table class="table" style="background-color: #fff;">
                <tr class="well" style="background-color: #3276b1!important; color:white; width: 100%;">
                    <td class="tdCenter"><b>ITEM</b></td>
                    <td class="tdCenter"><b>QUANTITY</b></td>
                    <td class="tdRight"><b>UNIT PRICE</b></td>
                </tr>
                <tr ng-hide="cart.getTotalCount() > 0">
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>
                <tr ng-repeat="item in cart.items | orderBy:'name'">
                    <td class="col-md-4"><h5><b>{{item.name}}</b></h5></td>
                    <td>
                        <div class="input-append">
                            <input class="text-center" type="tel"
                                   ng-model="item.quantity"
                                   ng-change="cart.saveItems()" />
                            <button class="btn btn-success" type="button"
                                    ng-disabled="item.quantity >= 1000"
                                    ng-click="cart.addItem(item.id, item.name, item.price, +1)">
                                +
                            </button>
                            <button class="btn btn-inverse" type="button"
                                    ng-click="cart.addItem(item.id, item.name, item.price, -1)">
                                -
                            </button>
                        </div>
                    </td>
                    <td class="tdRight">
                        <b style="font-size:14px">{{(item.price - item.discount) | INR}}</b> <br />
                        <span class="price"></>{{item.price  | INR}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <div class="container">
                <table class="table" style="background-color: #fff; width: 100%; border:none">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="inlineDiv">
                                    <div id="file_browse_wrapper" class="col-sm-8">
                                        <span class="btn btn-success btn-file" style="width:100%">
                                            Upload Prescription
                                            <input type="file" data-bind-file="" data-ng-model="prescriptionFile"  ng-change="uploadPrescription(prescriptionFile)"/>
                                        </span>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="prescriptionFile">
                            <td>
                                <br />
                                <h5> Prescription Name: <b>{{prescriptionFile.name}}</b></h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table" style="background-color: #fff; width: 100%;">
                    <tbody>
                        <tr>
                            <td colspan="2" class="summary-border" style="text-align:center">
                                <h4><b> ORDER SUMMARY</b></h4>
                            </td>
                        </tr>
                        <tr>
                            <th class="sansserif">Total Quantity</th>
                            <td class="summary-border"><b>{{cart.getTotalNoOfItems()}}</b></td>
                        </tr>
                        <tr>
                            <th class="summary-border sansserif">MRP</th>
                            <td class="summary-border">{{cart.getTotalUnitPrice() | INR}}</td>
                        </tr>
                        <tr>
                            <th class="summary-border sansserif">Discount on bag items</th>
                            <td class="summary-border">{{cart.getTotalDiscount() | INR}}</td>
                        </tr>
                        <tr>
                            <th class="summary-border sansserif">Cart Total</th>
                            <td class="summary-border">{{cart.getTotalUnitPrice() - cart.getTotalDiscount() | INR}}</td>
                        </tr>
                        <tr>
                            <th class="summary-border sansserif">Shipping Charges</th>
                            <td class="summary-border">{{(cart.getTotalNoOfItems() > 0 ? cart.getShippingCharges() : 0 )| INR}}</td>
                        </tr>
                        <tr>
                            <th class="sansserif">Amount Payable</th>
                            <td><b>{{(cart.getTotalNoOfItems() > 0 ? ((cart.getTotalUnitPrice() - cart.getTotalDiscount()) + cart.getShippingCharges()) : 0) | INR}}</b></td>
                        </tr>

                        <tr>
                            <td colspan="2" class="summary-border" style="color: darkseagreen; text-align:center"><b>You have saved:  {{cart.getTotalDiscount() | INR}}</b></td>
                        </tr>
                        <tr>
                            <td style="height:15px; border-top: 1px #dddddd;"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="border-top: 1px #dddddd;">
                                <button class="btn btn-block btn-primary"
                                        ng-click="checkOut(cart.getTotalUnitPrice(), cart.getTotalDiscount(), cart.getTotalUnitPrice() - cart.getTotalDiscount(),
                                        cart.getShippingCharges(), prescriptionFile)"
                                        ng-disabled="cart.getTotalNoOfItems() < 1">
                                    <i class="icon-ok icon-white" /> PLACE ORDER
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="customModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="close()" type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">

        </div>

    </div>
</div>
