<div class="row text-center popular-categories">
    <h1>{{categoryName}}</h1>
</div>
<br />
<br />
<div ng-controller="productCtrl" ng-init="products = getProducts()">
    <div>
        <div class="row">
            <a ui-sref="cart" title="go to shopping cart">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items - <b>{{cart.getTotalUnitPrice() | INR}}</b>
            </a>
        </div>
        <div class="row" ng-repeat="product_chunk in products | splitListFilter:4">
            <div class="col-sm-3" ng-repeat="item in product_chunk">
                <article class="col-item">
                    <div class="photo">
                        <a> <img src="{{getImage(item.image)}}" class="img-responsive img-circle" alt="{{item.name}}" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                <p class="details">
                                    {{item.name}}
                                </p>
                                <h1>{{item.name}}</h1>
                                <span class="price-new"><b>Rs {{item.unitPrice}}</b></span>
                            </div>
                        </div>
                        <div class="separator">
                            <p class="btn-add">
                                <a type="button"  href="" ng-click="cart.addItem(item.id, item.name, item.unitPrice, 1, item.offeringDiscount, item.shippingCharges)">ADD TO CART</a>
                            </p>
                            <p class="btn-details">
                                <a data-target="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="QuickView" ng-click="editDialog.open(item)">QUICK VIEW</a>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </article>
            </div>
        </div>
        <edit-product-dialog model="editDialog"></edit-product-dialog>
    </div>
</div>
